///
/// Hyperbolic by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	@include keyframes('reveal-header') {
		0% { top: -4em; opacity: 0; }
		100% { top: 0; opacity: 1; }
	}

	body {
		padding-top: _size(element-height);

		@include breakpoint('<=small') {
			padding-top: 3rem;
		}
	}

	#header {
		@include color-typography(invert);
		@include gradient-background(90%, 90deg);
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'space-between');
		box-shadow: 0 0.075rem 1rem 0 rgba(0,0,0,0.125);
		height: _size(element-height);
		left: 0;
		line-height: _size(element-height);
		padding: 0 1.5rem;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base);

		.logo {
			@include vendor('flex-grow', '1');
      @include vendor('flex-shrink', '1');
			border: 0;
			font-size: 0.9rem;
			text-transform: uppercase;
      white-space: nowrap;
    }
    .logo-graphic {
      background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 264.6"><defs><style>.a{fill:#8547bf;}</style></defs><title>Icon</title><path class="a" d="M134.3,332.29" transform="translate(0 -67.71)"/><path class="a" d="M200,332.29c-41.25,0-91.33-40.87-91.33-40.87-4.13-4.53-7.44-8.25-10.33-11.14-5.78-6.19-10.33-10.72-13.22-19.39-3.3-9.08-2.47-16.51-1.65-22.71.84-5.77.84-9.07-1.65-11.14-3.72-2.88-11.57-2.06-21.08,2.07-2.06.82-3.73,2.06-5.37,2.88a51.39,51.39,0,0,1-9.09,3.71,51.64,51.64,0,0,1-14.46,1.24c-10.74-.42-23.14-8.25-30.58-15.68a5,5,0,0,1,0-6.61A217,217,0,0,1,19,198.56c2.48-2.07,4.55-3.71,6.19-4.95,3.31-2.49,5-3.73,7-6.61,3.3-4.55,4.13-8.26,4.95-12.38a28.71,28.71,0,0,1,3.71-11.57,67.12,67.12,0,0,1,19-21.46l-5.78-9.07c-1.64-2.89-3.31-5.35-5-7.84-1.64-2.9-3.3-5.78-5-8.67L43,113.52h2.89a55.5,55.5,0,0,1,14.46,1.65,58.58,58.58,0,0,1,11.15,3.71l3.72-14,2.06,1.65a107.57,107.57,0,0,1,19.84,19,96.73,96.73,0,0,1,12.4,19.39c13.22,4.13,24.39,9.9,32.23,18.16,1.67,1.64,2.91,3.3,4.56,5,2.48,2.88,5.37,5.77,9.51,10.32a24.45,24.45,0,0,0,3.3,3.3c.83-2.48,1.25-5.37,2.07-8.25a67.62,67.62,0,0,1-7-14.45c-5.78-18.15-2.07-34.24,2.48-53.23a179.54,179.54,0,0,1,11.58-32.61l2.49-5.36.82,6.19c1.23,8.67,5.78,29.71,22.31,39.21a31.3,31.3,0,0,0,6.62,2.88,31.43,31.43,0,0,0,6.61-2.88c16.94-9.9,21.07-30.54,22.31-39.21l.79-4.15,2.49,5.37a153.78,153.78,0,0,1,11.57,32.6c4.56,19,8.27,35.08,2.49,53.24a67.29,67.29,0,0,1-7,14.44,82.83,82.83,0,0,0,2.06,8.26l3.31-3.31c4.56-4.54,7.44-7.83,9.51-10.31a53.11,53.11,0,0,1,4.55-4.95c7.86-8.26,18.6-14.45,32.24-18.16,3.71-7,7.44-13.62,12.39-19.39a96.16,96.16,0,0,1,19.84-19l2.07-1.64,3.71,14a58.67,58.67,0,0,1,11.16-3.71A58,58,0,0,1,355,115.57h2.89l-1.24,2.48c-1.25,2.91-3.31,5.79-5,8.68s-3.31,5.35-4.95,7.84L341,143.64a67,67,0,0,1,19,21.46c2.46,4.13,2.88,7.85,3.71,11.56.82,4.13,1.64,7.84,4.95,12.38a36.56,36.56,0,0,0,7,6.61c1.65,1.24,3.71,2.89,6.2,4.95a213.83,213.83,0,0,1,17.77,16.09h0c.26.2.37,1.26.37,1.26a4.72,4.72,0,0,1-1.24,3.31c-7.43,7-19.82,14.86-30.57,15.68a52.08,52.08,0,0,1-14.47-1.24c-4.13-.82-6.6-2.46-9.09-3.71a20.85,20.85,0,0,0-5.37-2.88c-9.93-3.71-17.37-4.55-21.09-2.07-2.47,1.65-2.47,5-1.64,11.14.42,6.2,1.24,14-1.65,22.71s-7,13.2-13.22,19.39c-2.89,2.89-5.63,7.62-10.33,11.14C234.5,334,200,332.29,200,332.29Z" transform="translate(0 -67.71)"/></svg>');
			background-size: 100% 100%;
			background-position: center;
			content: '';
			height: 120px;
			left: 0;
			position: absolute;
			top: 30px;
			width: 100%;
    }

		&.reveal {
      @include vendor('animation', 'reveal-header 0.5s ease');
      .logo-graphic {
        visibility: hidden;
      }
		}

		&.alt {
			@include vendor('animation', 'none');
			background: none;
			box-shadow: none;
			height: (_size(element-height) * 2);
			line-height: (_size(element-height) * 2);
			padding: 0 3rem;
			position: absolute;

			&:before {
				@include gradient-background(90%, 90deg);
				content: '';
				display: block;
				height: 0.75rem;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

		}

		& + #banner {
			margin-top: (_size(element-height) * -1);
		}

		> .navPanelToggle {
			@include vendor('transition', (
				'background-color #{_duration(transition)} ease-in-out',
				'color #{_duration(transition)} ease-in-out',
				'top #{_duration(transition)} ease-in-out',
				'right #{_duration(transition)} ease-in-out'
			));
			@include icon;
			border: 0;
			display: none;
			font-size: 0.9rem;
			height: inherit;
			line-height: inherit;
			outline: 0;
			padding: 0 1.5rem;
			position: absolute;
			right: 0;
			text-transform: uppercase;
			top: 0;

			&:before {
				content: '\f0c9';
				float: right;
				margin: 0 0 0 0.625rem;
			}
		}

		@include breakpoint('<=large') {
			&.alt {
				height: (_size(element-height) * 1.5);
				line-height: (_size(element-height) * 1.5);
				padding: 0 1.5rem;
			}
		}

		@include breakpoint('<=medium') {
			> .navPanelToggle {
				display: block;
			}

			&.alt {
				> .navPanelToggle {
					padding: 0 1.75rem;
				}
			}
		}

		@include breakpoint('<=small') {
			height: 3rem;
			line-height: 3rem;

			& + #banner {
				margin-top: -3rem;
			}
		}

		@include breakpoint('<=xsmall') {
			> .navPanelToggle {
				overflow: hidden;
				text-indent: 4rem;
				white-space: nowrap;
				width: 4rem;
			}
		}
	}

	#nav {
		@include vendor('flex-grow', '0');
		@include vendor('flex-shrink', '0');

		> ul {
			@include vendor('display', 'flex');
			list-style: none;
			margin: 0;
			padding-left: 0;

			> li {
				margin-left: 0.75rem;
				padding-left: 0;

				&:first-child {
					margin-left: 0;
				}

				> ul {
					display: none;
				}

				a, span {
					@include vendor('transition', (
						'background-color #{_duration(transition)} ease-in-out',
						'box-shadow #{_duration(transition)} ease-in-out',
						'color #{_duration(transition)} ease-in-out'
					));
					border-radius: 2rem;
					border: 0;
					box-shadow: 0;
					font-size: 0.9rem;
					padding: 0.625rem 1.5rem;
					text-transform: uppercase;
					box-shadow: inset 0 0 0 1px rgba(0,0,0,0);

					&.icon {
						padding-left: 1.25rem;

						&:before {
							margin-right: 0.5rem;
						}
					}
				}

				&.current {
					a, span {
						background-color: _palette(invert, border-bg);
					}
				}

				&.active {
					a, span {
						box-shadow: inset 0 0 0 1px opacify(_palette(invert, border-bg), 0.25);
					}
				}
			}
		}

		@at-root {
			.dropotron {
				background-color: _palette(bg);
				border-radius: _size(border-radius);
				box-shadow: 0 0.075rem 0.75rem 0 rgba(0,0,0,0.125);
				list-style-type: none;
				margin: 0 0 0 1px;
				min-width: 10rem;
				padding: 0.5rem 0;

				&.level-0 {
					margin-left: 1.5rem;
					margin-top: 1rem;

					&:before {
						@include vendor('transform', 'rotate(45deg)');
						background-color: _palette(bg);
						box-shadow: -2px -2px 3px -1px rgba(0,0,0,0.1);
						content: '';
						position: absolute;
						top: -0.375rem;
						left: 1rem;
						width: 0.75rem;
						height: 0.75rem;
					}
				}

				li {
					border-top: solid 1px _palette(border);
					padding: 0;
					position: relative;

					&:first-child {
						border-top: none;
					}

					&.active > a {
						color: _palette(accent1);
					}
				}

				a {
					color: _palette(fg);
					padding: 0.325rem 0.875rem;
					text-decoration: none !important;
					border: 0;
					font-size: 0.9rem;

					&:active, &:hover, &:focus {
						color: _palette(accent1);
					}
				}

				body.header-alt & {
					&.level-0 {
						margin-top: -1rem;
					}
				}
			}
		}

		@include breakpoint('<=large') {
			> ul {
				> li {
					a, span {
						padding: 0.5rem 1rem;
					}
				}
			}
		}

		@include breakpoint('<=medium') {
			display: none;
		}
	}